html, body {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    background-color: #fffcf0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin: 0;
}

#header{
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    background-color: #002a4d;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    z-index: 2;
}

.instruksi h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #002a4d;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.instruksi{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: 50px;
    z-index: 2;
}

.qris {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.qris img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.done {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #002a4d;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #002a4d;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #002a4d;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 1000;
}